@import "variables";

h1,
h2,
h3 {
  font-family: $poppins;
  color: $darkCyan;
}

p,
button {
  font-family: $openSans;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
}

.message-header {
  h1 {
    font-size: 4rem;
  }
}

main ul li {
  h2 {
    font-size: 3rem;
  }

  p {
    color: $grayishBlue;
    line-height: 1.5;
  }
}

footer {
  p {
    color: $paleCyan;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 3.5rem;
  }
}

.more-links a {
  font-family: $openSans;
  text-decoration: none;
  color: $paleCyan;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 1480px) {
  .message-header h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1290px) {
  .message-header h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1105px) {
  .message-header {
    h1 {
      font-size: 2.9rem;
    }
    p {
      font-size: 1.6rem;
    }
  }

  main {
    h2 {
      font-size: 2.3rem !important;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 1070px) {
  .message-header h1 {
    font-size: 2.3rem;
  }
}

//bottom box btn-to-call
@media (max-width: 1673px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 3.4rem;
    }
  }
}

@media (max-width: 1634px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 3.3rem;
    }
  }
}

@media (max-width: 1594px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 3.2rem;
    }
  }
}

@media (max-width: 1554px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 3.1rem;
    }
  }
}

@media (max-width: 1514px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 1474px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2.9rem;
    }
  }
}

@media (max-width: 1435px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 1395px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2.7rem;
    }
  }
}

@media (max-width: 1355px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 1315px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 1156px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 1117px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1077px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 1.9rem;
    }
  }
}

@media (max-width: 1037px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 997px) {
  .box-btnToCall-footer {
    h3 {
      font-size: 1.7rem;
    }
  }
}
