@import "globals";
@import "variables";
@import "buttons";
@import "typography";

img {
  width: 100%;
  display: block;
}

.margin {
  width: 85%;
  margin: 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header {
  height: 100vh;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
}

header .logo-header img {
  width: 150px;
}

.container-header {
  background-color: $paleCyan;
  background-image: url(/images/bg-hero-desktop.svg);
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

  .message-header {
    // width: 740px;
    margin-top: 5%;
    flex-basis: 45%;

    p {
      margin-top: 30px;
    }

    button {
      margin-top: 30px;
    }
  }

  .heroImg-header {
    flex-basis: 55%;
  }
}

// @media (max-width: 1650px) {
//   .content-header {
//     flex-direction: column;
//   }
// }
